/* Styles for .main */
.main {
  background-color: whitesmoke;
  width: 100%;
  height: 70px;
}

/* Styles for modal dialog inside .deleteModal */
.deleteModal > .modal-dialog {
  max-width: none;
  width: 22%;
}

/* Styles for .cardss class */
.cardss {
  height: 518px;
}

/* Styles for .unanswered-questions */
.unanswered-questions {
  padding: 20px;
}

/* Styles for .unanswered-header */
.unanswered-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Styles for .number-boxes */
.number-boxes {
  display: flex;
  flex-wrap: wrap;
}

/* Styles for .number-box */
.number-box {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: red;
}

/* Media query for screen widths up to 700px */
@media (max-width: 700px) {
  .deleteModal > .modal-dialog {
    max-width: none;
    width: 96%;
  }

  .cardss {
    height: fit-content;
  }

  .page,
  .iconss {
    display: none;
  }
}

/* Media query for screen widths up to 300px */
@media (max-width: 300px) {
  .deleteModal > .modal-dialog {
    max-width: none;
    width: 86%;
  }

  .cardss {
    height: fit-content;
  }
}


